apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: opentp-client
  name: opentp-client
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: opentp-client
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: opentp-client
    spec:
      containers:
      - image: ettec/opentp:opentp-client-1.0.3
        imagePullPolicy: Always
        name: opentp-client
